[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
youtube-dl = "*"
asyncio = "*"
python-dotenv = "*"
ffmpeg = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
bot="python voiceBot.py"
